# Build Directories
/lib/**/
!/lib/**/.gitkeep
/build/
/builddir/
/objs/



# C Object Files
*.o
*.so
*.dylib
*.dll

# C Executables
*.exe
*.out
*.stackdump

# Demo executable file
demo

# Doxygen documentation folder
/docs/

# KDevelop tmp files
*swp
*.kdev4

# Misc dirs
/.cache/**